*{

  margin: 0;
  padding: 0;
}

.header{
  padding: 1.5em;
  background-color: #001489;
  color: white;
   z-index: 20;

}

.country-list{

  display: flex;
  flex-direction: row;
  text-wrap: wrap;
  flex-wrap: wrap;
}



ul {
  list-style-type: none;
}

ul li{
padding: 0.5em;
  text-decoration: none;
}




.options-button{

  padding:1em;
  border-radius: 10px;
  transition-duration: 0.4s;
}

.options-button:hover{
  cursor: pointer;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}




.all-content{

  z-index: -1;
    display: flex;
    flex-direction: column;
    padding:1em;
    padding-top: 2em;
    background-color: whitesmoke;
    box-shadow: inset 0px 10px 31px -5px rgba(0,0,0,0.6);
}
#map-container, #europe-charts {
    display: flex;
    width: 50vw;
    flex-direction: column;
    
  }

  #europe-charts{

    align-items: center;
  }


  
  #map {
    flex: 1;
  }
  
  .chart {
    flex: 1;
    height: 60vh;
margin:20px;

  }


  
  .tooltip {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 5px;
    border-radius: 5px;
    pointer-events: none;
  }

  
  
  .slider-container {
    margin-top: 20px;
  }

  .line-legend{

    font-size: 10px;
  }

  
  
  .legend {
    bottom: 20px;
    right: 20px;
    background: rgba(245, 245, 245, 0.8);
    padding: 10px;
    border-radius: 5px;
    border:1px rgba(0, 0, 0, 0.4);
    border-style: outset;
  }
  
  .legend-item {
    margin-bottom: 5px;
  }
  
  .color-gradient {
    width: 200px;
    height: 20px;
    background: linear-gradient(to right, lightblue, darkblue);
    border-radius: 5px;
  }

  .legend-slider{
    display: flex;
    flex-direction: row;
  justify-content: space-between;
  }


  .row{

    display: flex;
    flex-direction: row;
    margin-top: 1em;
  }

  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    transition: opacity 0.5s ease, visibility 0.5s ease;
  }

  .modal-style {
    transition: opacity 0.5s ease, visibility 0.5s ease;
    opacity: 1;
    visibility: visible;
  }
  
  .modal-hidden {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0.5s ease;
  }
  

  

.modal h2{

  margin-bottom: 30px;
}

  .modal-content {
    
  background-color: #fefefe;
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-height: 80vh; /* Reduced max-height for the modal */
  overflow-y: auto; /* Ensure content is scrollable if it overflows */
}
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  
  #charts{
    display: flex;
    height: fit-content;
    justify-content: center;
  }
 
  
  /* Adjustments for Chart Containers */
  .line-chart {
    width: calc(50% - 10px); /* 50% width with some spacing between */
    margin-right: 10px; /* Spacing between charts */
  }
  
  #backButton {
    display: block;
    margin-bottom: 20px;
  }


  
  
  